body {
    background-image: gray;
    padding: 0;
    margin: 0;}
#Rat{
    text-align: center;
}
#what {
    text-align: center;
}
#how {
    text-align: center;
}
#download{
    background-color: greenyellow;
}